/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #F9F8F4; /* Color hueso neobase */
  color: #2D2E2D; /* Color oscuro neodark */
}